
<html>
    <head>
        <meta charset="UTF-8">
        <title>USER's HIRES'</title>
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <h2 id="username" > </h2>
         <h3  >Choose a category.... </h3>
         <select id="cmbCategories" > 
			 
        </select>
        <h3 style="margin-left:50px" id="title"></h3>   
        <div id="idTable">
        
        
        </div>  
        <button style="margin-left:150px" id="logout">Log out</button>
        <script type="text/javascript" src="js/jsHome.js"></script>
  
    </body>
</html>
